@import url("https://fonts.googleapis.com/css?family=Roboto");
@keyframes changePosition {}* {
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em; }

.btn {
  box-shadow: none;
  border: none;
  font-size: 0.9375em; }

.btn--start {
  background-color: #0296CE;
  width: 198px;
  height: 88px;
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 99px);
  color: #ffffff;
  font-size: 1.1875em; }

.btn--category {
  background-color: #ffffff;
  color: #0296CE;
  width: 154px;
  height: 82px;
  margin: 0 4px; }
  .btn--category:hover, .btn--category:active, .btn--category.active {
    background-color: #0296CE;
    color: #ffffff; }
  @media only screen and (max-width: 820px) {
    .btn--category {
      margin-bottom: 8px;
      width: 150px; } }

.overlay {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(127, 142, 147, 0.9);
  z-index: 600;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: hidden; }
  @media only screen and (max-width: 820px) and (orientation: landscape) {
    .overlay {
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.box {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-flow: nowrap;
  z-index: 700; }

.box__right {
  color: #ffffff;
  background-color: #0296CE;
  width: 486px;
  min-height: 450px;
  position: relative; }
  @media only screen and (max-width: 820px) {
    .box__right {
      position: absolute;
      right: -1000px; } }

@media only screen and (max-width: 820px) {
  .responsive-show .box__right {
    left: 0;
    width: 100vw; } }

.content {
  display: none;
  padding: 10px; }
  .content h3 {
    font-size: 1.3125em; }

.content--start {
  display: block;
  padding: 10px; }

.close {
  position: absolute;
  top: -50px;
  right: -510px;
  cursor: pointer; }
  @media only screen and (max-width: 820px) {
    .close {
      right: 15px; } }

.close-box {
  display: none; }
  @media only screen and (max-width: 820px) {
    .close-box {
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer; } }

.box__left {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: transparent;
  max-width: 330px;
  min-width: 280px;
  width: auto;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  position: relative; }
