* {
  box-sizing: border-box;
}

body {
  font: {
    weight: 400;
    family: 'Roboto', sans-serif;
  }
  line-height: 1.5em;
}

.btn {
  box-shadow: none;
  border: none;
  font-size: 0.9375em;
}

.btn--start {
  background-color: $c-blue;
  width: 198px;
  height: 88px;
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 99px);
  color: $c-white;
  font-size: 1.1875em;
}

.btn--category {
  background-color: $c-white;
  color: $c-blue;
  width: 154px;
  height: 82px;
  margin: 0 4px;
  &:hover, &:active, &.active {
    background-color: $c-blue;
    color: $c-white;
  }
  @media only screen and (max-width: $m-width) {
    margin-bottom: 8px;
    width: 150px;
  }
}

.overlay {
  @include flexContainer();
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $c-grey;
  z-index: 600;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: hidden;
  @media only screen and (max-width: $m-width) and (orientation: landscape) {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.box {
  @include flexContainer();
  flex-flow: nowrap;
  z-index: 700;
}

.box__right {
  color: $c-white;
  background-color: $c-blue;
  width: 486px;
  min-height: 450px;
  position: relative;
  @media only screen and (max-width: $m-width) {
    position: absolute;
    right: -1000px;
  }
}

.responsive-show .box__right {
  @media only screen and (max-width: $m-width) {
    left: 0;
    width: 100vw;
  }
}

.content {
  display: none;
  padding: 10px;
  h3 {
    font-size: 1.3125em;
  }
}

.content--start {
  display: block;
  padding: 10px;
}

.close {
  position: absolute;
  top: -50px;
  right: -510px;
  cursor: pointer;
  @media only screen and (max-width: $m-width) {
    right: 15px;
  }
}

.close-box {
  display: none;
  @media only screen and (max-width: $m-width) {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}

.box__left {
  @include flexContainer();
  background-color: transparent;
  max-width: 330px;
  min-width: 280px;
  width: auto;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  position: relative;
}