$c-blue: #0296CE;
$c-grey: rgba(127,142,147,0.9);
$c-light-grey: #d8d8d8;
$c-white: #ffffff;
$m-width: 820px;


@mixin flexContainer(){
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@keyframes changePosition {

}


@mixin animationProperties($delay:2s,$direction:alternate,$duration:2s,$fillmode:forwards, $count:1,$name: changeColor,
$playstate:running,$timing:linear){
  -webkit-animation-delay:$delay; /* Safari 4.0 - 8.0 */
  animation-delay: $delay;
  -webkit-animation-direction: $direction; /* Safari 4.0 - 8.0 */
  animation-direction: $direction;
  -webkit-animation-duration: $duration; /* Safari 4.0 - 8.0 */
  animation-duration: $duration;
  -webkit-animation-fill-mode: $fillmode; /* Safari 4.0 - 8.0 */
  animation-fill-mode: $fillmode;
  -webkit-animation-iteration-count: $count; /* Safari 4.0 - 8.0 */
  animation-iteration-count: $count;
  -webkit-animation-name: $name; /* Safari 4.0 - 8.0 */
  animation-name: $name;
  -webkit-animation-play-state: $playstate; /* Safari 4.0 - 8.0 */
  animation-play-state: $playstate;
  -webkit-animation-timing-function: $timing; /* Safari 4.0 - 8.0 */
  animation-timing-function: $timing;
}